h3 {
    color: #221c23;
    text-decoration: underline;
    font-family:'Arial Verdana', Times, serif;
    text-align: center;
}
body {
    background-color: #89708c;
}

.hobi {
    color: #110e11;
    font-weight: bold;

}

p {
    text-align: center;
}

h5 {
    text-align: center
}
